{% extends "blog/base.html" %}
{% block body_content %}
<h1>User account profile creation</h1>
{% if errors %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <ul>
        {% for error in errors %}
        <li> {{ error.0 }}: {{error.1}}</li>
        {% endfor %}
    </ul>
</div>

{% endif %}
<form class="m-auto col-md-3" method="POST" action="{% url 'blog:create_post' %}">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Post information</h1>
    <div class="form-floating">
        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
        <label for="title">Title</label>
    </div>
    <div class="form-floating">
        <textarea type="textarea" class="form-control" id="content" name="content"  rows="8">
        </textarea>
        <label for="content">Content</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Publish</button>
</form>
{% endblock %}